---
layout: docu

hidden_ext: 
  - name: ".adoc"
  - name: ".css"
  - name: ".md"

icons:
  - extname: ".html"
    icon: "fa-solid fa-file-code"
  - extname: ".txt"
    icon: "fa-solid fa-file-lines"
  - extname: ".svg"
    icon: "fa-solid fa-file-image"
  - extname: ".jpg"
    icon: "fa-solid fa-file-image"
  - extname: ".ai"
    icon: "fa-solid fa-file-image"
  - extname: ".png"
    icon: "fa-solid fa-file-image"
  - extname: ".pdf"
    icon: "fa-solid fa-file-pdf"
  - extname: ".mp4"
    icon: "fa-solid fa-file-video"
  - extname: ".mp3"
    icon: "fa-solid fa-file-music"
  - extname: ".doc"
    icon: "fa-solid fa-file-word"
  - extname: ".zip"
    icon: "fa-solid fa-file-zipper"
  - extname: ".gz"
    icon: "fa-solid fa-file-zipper"
  - extname: ".tar"
    icon: "fa-solid fa-file-zipper"
  - extname: ".csv"
    icon: "fa-solid fa-file-csv"
  - extname: ".pgm"
    icon: "fa-solid fa-solid fa-gears"
---
{% assign abs_url  = page.url | absolute_url %}
{% assign rel_url  = page.url | relative_url %}
{% if rel_url != '/' %} {% assign base_url = abs_url | replace: rel_url, '' | append: '/' %}
{% else %} {% assign base_url = abs_url %}
{% endif %}
{% assign depth = page.path | split: '/' | size %}
{% assign pwd = page.path | replace: page.name, '' %}

<div id="header">
  <div id="toc" class="toc2">
    <div id="toctitle">Public Repositories</div>
    <ul class="sectlevel1">
      <li><a href="{{ base_url }}User-Manuals">User-Manuals</a></li>
      {% for repository in site.github.public_repositories %}
      <li><a href="{{ base_url }}{{ repository.name | remove_first: '/' }}"> {{ repository.name | replace: '-', ' ' | replace: '_', ' ' }}</a></li>
      {% endfor %}
    </ul> 
  </div>
</div>

<h2>{{ page.folder-text | default: page.url | replace: page.path, '' }}</h2>
{% if page.folder-text == '' %}
<h3>{{ page.url | replace: page.path, '' }}</h3>
{% endif %}
<div class="post-content">
  {{ content }}
</div>

<!-- abs_url = {{ abs_url }}<br/> -->
<!-- rel_url = {{ rel_url }}<br/> -->
<!-- base_url = {{ base_url }}<br/> -->
<!-- depth = {{ depth }} <br/> -->
<!-- pwd = {{ pwd }} <br/> -->

{% capture folders_list %}
  {% for file in site.static_files %}
    {% assign path = file.path | split: '/' %}
    {% if path | size  != depth %}
      {% if path[depth] != file.name %}
        {% assign dif = file.path | split: pwd %}
        {% if dif[0] == '/' || depth == 1 %}
          {{ file.path | replace: file.name, '' }}
          {% if forloop.last == false %}::{% endif%}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endcapture %}
{% assign folders = folders_list | strip_newlines | replace: ' ', '' | split: '::'| uniq | sort %}  
<!-- folders = {{ folders | array_to_sentence_string }} <br/> -->

{% capture top_folder_list %}
  {% for folder in folders %}
    {% assign path = folder | split: '/' %}
      {{ path[depth] }}
    {% if forloop.last == false %}::{% endif %}
  {% endfor %}
{% endcapture %}
{% assign top_folders = top_folder_list | strip_newlines | replace: ' ', '' | split: '::' | uniq | compact | sort %}  
<!-- top_folders = {{ top_folders | array_to_sentence_string }} <br/> -->

<table class="indexlist">
  <tbody>
    <tr><th style="width: 20px; overflow: hidden;"></th><th style="width: 30%; overflow: hidden;">Name</th><th style="width: 70%; overflow: hidden;">Description</th></tr>
  {% if depth != 1 %}
    <tr><td><a href=".."><i class="fa-solid fa-folder-open"></i></a></td><td><a href="..">Parent Directory</a></td><td></td></tr>
  {% endif %}

{% for folder in top_folders %}
  {% assign desc = page.descriptions | where:"name", folder | first %}
  {% assign hide = page.hidden | where:"name", folder | first %}
  {% unless hide.name == folder %}
   <tr><td><a href="{{ folder }}"><i class="fa-solid fa-folder"></i></a></td><td><a href="{{ folder }}">{{ folder }}</a></td><td><a href="{{ folder }}">{{ desc.text }}</a></td></tr>
  {% endunless %}      
{% endfor %}

{% for file in site.static_files %}
  {% assign path_s = file.path | split: '/' | size | minus: 1 %}
  {% if path_s == depth %} 
    {% assign dif = file.path | split: pwd %}
    {% if dif[0] == '/' %}
      {% assign ext = layout.hidden_ext | where:"name", file.extname | first %}
      {% unless ext.name == file.extname %}
        {% assign desc = page.descriptions | where:"name", file.name | first %}
        {% assign hide = page.hidden | where:"name", file.name | first %}
        {% unless hide.name == file.name %}
          {% assign icon = layout.icons | where:"extname", file.extname | first %}
          {% assign fa-icon = icon.icon | default: "fa-solid fa-file" %}
    <tr><td><a href="{{ file.name }}"><i class="{{ fa-icon }}"></i></a></td><td><a href="{{ file.name }}">{{ file.name }}</a></td><td><a href="{{ file.name }}">{{ desc.text }}</a></td></tr>
        {% endunless %}      
      {% endunless %}      
    {% endif %}
  {% endif %}
{% endfor %}

  </tbody>
</table>
